<f:if condition="{navigation}">
    <ul>
        <f:for each="{navigation}" as="item">
            <li>
                <f:if condition="{item.current}">
                    <f:then>
                        <strong>{item.title}</strong>
                    </f:then>
                    <f:else>
                        <a href="{item.link}" target="{item.target}" title="{item.title}">
                            {item.title}
                        </a>
                    </f:else>
                </f:if>

            </li>
        </f:for>
    </ul>
</f:if>
