# IDE and OS excludes
/.idea
.DS_Store

# Common archive / temporary files
/.archive
/.mount
/.local.*

# Runtime environment
/.reports
/.run/*
!/.run/.gitkeep
/.vendor/*
!/.vendor/.gitkeep
/var
/Public
/composer.lock

# Cache files
**/*.cache
