@charset "utf-8";

/* GLOBAL ##############################################################################################################
##################################################################################################################### */
html {
    overflow-y:         scroll;
}

body {
    font-family:        Calibri, Arial, Verdana, sans-serif;
    color:              #444444;
    background:         #eeeeee;
    text-align:         center;
    padding:            10px 0 0 0;
}

/* LAYOUT MAIN CONTAINER ###############################################################################################
##################################################################################################################### */
div#siteBackgrounds {
    position:           relative;
    width:              1280px;
    margin:             0 auto;
    padding:            0;
    background:         url(../Images/footer_background.jpg) bottom right no-repeat;
}

div#siteContainer {
    position:           relative;
    width:              1280px;
    text-align:         left;
    background-color:   #FFF;
    box-shadow:         0 0 5px 5px #d8d8d8;
    -moz-box-shadow:    0 0 5px 5px #d8d8d8;
    -webkit-box-shadow: 0 0 5px 5px #d8d8d8;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius:      4px 4px 0 0;
}

div#siteMeta {
    position:           absolute;
    top:                6px;
    right:              0;
}

div#siteHeader {
    overflow:           hidden;
    width:              1280px;
    height:             100px;
    background:         #ffffff url(../Images/header_background.jpg) bottom right no-repeat;
    background-size:    cover;
    vertical-align:     middle;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius:    4px 4px 0 0;
    border-radius:         4px 4px 0 0;
}

div#mainContent {
    background:         #ffffff;
    min-height:         400px;
    overflow:           hidden;
}

div#siteFooter {
    position:           relative;
    width:              1280px;
    height:             138px;
    text-align:         left;
}

/* MAIN CONTENT Elements 2 column ######################################################################################
##################################################################################################################### */
.two-column #content-col-left {
    width:              15em;            /* basis 16: width:240px; */
    padding:            0 0 5.9375em 0;  /* basis 16: width:95px; */
    overflow:           hidden;
    float:              left;
}

.two-column #content-col-mid-border {
    float:              left;
    width:              63.75em;  /* basis 16: width:1020px;  */
    height:             0.25em;   /* basis 16: height:4px;  */
    margin-right:       1.25em;   /* basis 16: margin-right:20px; */
    background-color:   #004f80;
    overflow:           hidden;
}

.two-column #content-col-mid {
    width:              63.75em;               /* basis 16: width:1020px;  */
    padding:            0.875em 0 5.9375em 0;  /* basis 16: padding: 14px 0 95px 0; */
    overflow:           hidden;
    float:              left;
}

/* MAIN CONTENT Elements 3 column ######################################################################################
##################################################################################################################### */
.three-column #content-col-left {
    width:              15em;            /* basis 16: width:240px; */
    padding:            0 0 5.9375em 0;  /* basis 16: width:95px; */
    overflow:           hidden;
    float:              left;
}

.three-column #content-col-mid-border {
    float:              left;
    width:              48.75em;  /* basis 16: width:780px;  */
    height:             0.25em;   /* basis 16: height:4px;  */
    margin-right:       1.25em;   /* basis 16: margin-right:20px; */
    background-color:   #004f80;
    overflow:           hidden;
}

.three-column #content-col-mid {
    width:              48.75em;                     /* basis 16: width:780px;  */
    padding:            0.875em 1.25em 5.9375em 0;   /* basis 16: padding: 14px 0 95px 0; */
    overflow:           hidden;
    float:              left;
}

.three-column #content-col-right-border {
    float:              left;
    width:              13.75em; /* basis 16: width:220px; */
    height:             0.25em;  /* basis 16: height:4px;  */
    background-color:   #004f80;
    overflow:           hidden;
}

.three-column #content-col-right {
    width:              13.75em;                     /* basis 16: width:220px; */
    padding:            0.875em 1.25em 5.9375em 0;   /* basis 16: padding: 14px 0 95px 0; */
    overflow:           hidden;
    float:              left;
}

.hidden {
    display:            none;
}

.hidden {
    display:            none;
}
