<f:if condition="{navigation}">
    <ul>
        <f:for each="{navigation}" as="item">
            <li>
                <f:if condition="{item.active}">
                    <f:then>
                        <em>
                            <a href="{item.link}" target="{item.target}" title="{item.title}">
                                {item.title}
                            </a>
                        </em>
                    </f:then>
                    <f:else>
                        <a href="{item.link}" target="{item.target}" title="{item.title}">
                            {item.title}
                        </a>
                    </f:else>
                </f:if>

            </li>
        </f:for>
    </ul>
</f:if>
